# Hypothesis Testing 2

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels as statmodel

<em>Business Problem
This is a peer comparison project. Suppose that you are
working for Samsung in customer experience management
team. The idea is to regularly monitor the customer
satisfaction levels and peer company moves. The competitor
company is Apple. The objective is to test two main
hypothesis.
    </em>

In [13]:
df=pd.read_csv('Testing_Of_Hypothesis.csv')
df.head()

   Sr No S_Cust_id  Samsung_Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82
1      2    S73004             99        A73011           83
2      3    S79537             74        A79538           88
3      4   S769168             74       A769222           80
4      5   S609791             83       A609801           74

><em>1. The Samsung Average customer satisfaction score is
minimum 75%.
</em>

<pre>
we can apply CLT as sample size>30

H0:mean(satisfaction score) >= 75%
Ha:mean(satisfaction score) !< 75%

test : 1 sample ttest
C.I:99%
Significance level:0.01
</pre>

In [23]:
stats.ttest_1samp(df.Samsung_Score,75)

Ttest_1sampResult(statistic=8.358287450922418, pvalue=4.0739777034636007e-13)

pvalue > 0.01

we cannot reject null hypothesis.
thus,we can say that "Average samsung customer satisfaction score is minimum 75%"

><em>2. The overall average satisfaction score of Samsung is same
as Apple. There is no significant difference in the satisfaction
scores
</em>

<pre>CLT (samples > 30) but no std given
H0: mean(Samsung) = mean(Apple)
HA: mean(Samsung) != mean(Apple)
test : 2 sample t-test(Independent)
    
2 tailed Independent t-test will be used

a=0.01
a/2=0.005
ta/2=t(0.005,249)=2.6

reject H0 if,
t>ta/2
</pre>
    

</pre>

In [18]:
stats.ttest_ind(df.Samsung_Score,df.Apple_Score)

Ttest_indResult(statistic=-1.9064295935043472, pvalue=0.058042614444118075)

pvalue/2 > 0.01
thus,we cannot reject h0.

thus we can say that
"The overall average satisfaction score of Samsung is same as Apple."